@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: white;
}

* {
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #132226;
  border-bottom: 1px solid #4E5166;
  box-shadow: 0.5px 0.5px 10px 0.5px #4E5166;
  transition: height 1s, transform 2s;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 25px;
}

.fa-sign-out-alt {
  color: white;
  font-size: 20px;
  padding-right: 25px;
  cursor: pointer;
}

img {
  width: 120px;
  transition: width 1s, transform 2s;
}

@media screen and (min-width: 760px) {
  img {
    width: 150px;
    transition: width 1s, transform 2s;
  }
}
.page--formualaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background-color: #040C0E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page--formualaire .bandeauLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  background-color: #132226;
  transition: margin-bottom 1s;
}
.page--formualaire .bandeauLogo img {
  width: 200px;
}
.page--formualaire .form-structor {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 550px;
  width: 350px;
  background-color: #222;
  box-shadow: 2px 2px 20px #343434;
  transition: width 1.2s, height 1.2s;
}
.page--formualaire .form-structor::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 800px;
  background-image: url("https://gearbox.imgix.net/https%3A%2F%2Fix-www.imgix.net%2Fsolutions%2Fwindmills.jpg?q=75&auto=format&fm=pjpg&fit=crop&w=456&h=342&ixlib=js-2.0.0&s=0213793bd6afa303564c7356a07a9243");
  transition: background-size 1.2s;
}
.page--formualaire .form-structor .signup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .signup .form-title {
  text-align: center;
  color: #fff;
  font-size: 1.7em;
}
.page--formualaire .form-structor .signup .form-holder {
  margin-top: 50px;
  border-radius: 15px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: height 1.2s;
}
.page--formualaire .form-structor .signup .form-holder .input {
  display: block;
  border: 0;
  border-bottom: 1px solid #eee;
  height: 30px;
  width: 100%;
  padding: 8px 15px;
  line-height: 30px;
  box-shadow: none;
  outline: none;
  font-size: 12px;
  transition: height 1.2s;
}
.page--formualaire .form-structor .signup .form-holder .input:last-child {
  border-bottom: 0;
}
.page--formualaire .form-structor .signup .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.page--formualaire .form-structor .signup .submit-btn {
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  border: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .signup .submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}
.page--formualaire .form-structor .login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  z-index: 4;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, 0);
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .login .center {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 5;
  width: 65%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .login .center a, .page--formualaire .form-structor .login .center .form-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  list-style: none;
}
.page--formualaire .form-structor .login .center a span, .page--formualaire .form-structor .login .center .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  color: rgba(0, 0, 0, 0.4);
}
.page--formualaire .form-structor .login .center .form-holder {
  margin-top: 50px;
  border: 1px solid #eee;
  border-radius: 15px;
  opacity: 1;
  overflow: hidden;
  background-color: #fff;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .login .center .form-holder .input {
  display: block;
  height: 30px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #eee;
  padding: 8px 15px;
  font-size: 12px;
  outline: none;
  box-shadow: none;
  line-height: 30px;
}
.page--formualaire .form-structor .login .center .form-holder .input:last-child {
  border-bottom: 0;
}
.page--formualaire .form-structor .login .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.page--formualaire .form-structor .login .center .submit-btn {
  display: block;
  margin: 15px auto;
  width: 100%;
  border: 0;
  border-radius: 15px;
  padding: 15px 45px;
  font-size: 13px;
  font-weight: bold;
  opacity: 1;
  background-color: #6B92A4;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.page--formualaire .form-structor .login .center .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.page--formualaire .form-structor .login.slide-up {
  top: 90%;
  -webkit-transition: all 0.3s ease;
}

@media screen and (min-width: 760px) {
  .page--formualaire .bandeauLogo {
    margin-bottom: 5%;
    transition: margin-bottom 1s;
  }
  .page--formualaire .form-structor {
    height: 650px;
    width: 400px;
    transition: width 1.2s, height 1.2s;
  }
  .page--formualaire .form-structor:hover {
    height: 750px;
    width: 450px;
  }
  .page--formualaire .form-structor::after {
    background-size: 1000px;
    transition: background-size 1.2s;
  }
  .page--formualaire .form-structor .signup .form-holder {
    height: 10%;
    transition: height 1s;
  }
  .page--formualaire .form-structor .signup .form-holder .input {
    height: 50px;
    font-size: 16px;
    transition: font-size 1s, height 1.2s;
  }
  .page--formualaire .form-structor .signup .submit-btn {
    height: 60px;
    font-size: 16px;
    transition: font-size 1s, height 1.2s;
  }
  .page--formualaire .form-structor .login.slide-up .form-title {
    font-size: 18px;
    transition: font-size 1s;
  }
}
html {
  background-color: var(--colour-primary);
}

:root {
  --border-radius: 10px;
  --colour-primary: #040C0E;
  --colour-secondary: #132226;
  --colour-tertiairer: #525B56;
  --colour-texte: #A4978E;
  --colour-texte-input: #e8e5e5;
  --colour-autre: #BE9063;
  --nav-size: 60px;
  --speed: 500ms;
}

.blocPostList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--colour-primary);
}
.blocPostList .bloc_image {
  position: relative;
  width: 100%;
  max-width: 1175px;
}
.blocPostList .bloc_image img {
  object-fit: cover;
  width: 100%;
}
.blocPostList .bloc_image .ombre {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  height: 140px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 98%);
}
.blocPostList .bloc_image .ombre-top {
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 90%);
  transition: height 1s;
}
.blocPostList .bloc_image .ombre-right {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 90%);
  transition: width 1s;
}
.blocPostList .bloc_image .ombre-left {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 90%);
  transition: width 1s;
}
.blocPostList .navBar-addPost {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 90%;
  height: 220px;
  max-height: 230px;
  border-radius: 10px;
  background: var(--colour-secondary);
}
.blocPostList .navBar-addPost .navBar-nav-addPost {
  height: 100%;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost {
  display: flex;
  justify-content: flex-start;
  height: 50%;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__center__liner {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  border-bottom: 1px var(--colour-tertiairer) solid;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__center__liner__form {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background: var(--colour-tertiairer);
  border-radius: 20px;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__center__liner__form__texte {
  padding-left: 15px;
  color: var(--colour-texte-input);
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost {
  width: 85%;
  max-width: 680px;
  background-color: var(--colour-secondary);
  border-radius: var(--border-radius);
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .menu-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--colour-secondary);
  color: var(--colour-texte);
  font-size: 17px;
  transition: background var(--speed);
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .menu-item .icon-right {
  margin-left: auto;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .menu-item .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background-color: var(--colour-secondary);
  color: var(--colour-secondary);
  text-decoration: none;
  transition: filter 300ms;
  cursor: pointer;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .menu-item .icon-button svg {
  height: 20px;
  padding-right: 10px;
  fill: white;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .input-post {
  position: relative;
  width: 90%;
  height: 120px;
  margin-bottom: 10px;
  border: none;
  text-align: start;
  background-color: var(--colour-secondary);
  color: var(--colour-texte-input);
  font-size: 16px;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .input-post::placeholder {
  position: relative;
  top: 0px;
  left: 1px;
  white-space: pre-line;
  color: var(--colour-texte);
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .conteneur-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .conteneur-input .input-file {
  display: none;
  visibility: hidden;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .conteneur-input i {
  font-size: 35px;
  color: var(--colour-texte);
  cursor: pointer;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .conteneur-input .display-image {
  width: 230px;
  padding-left: 15px;
  color: var(--colour-texte);
  overflow: hidden;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .bloc-button-addPost {
  padding-top: 10px;
  padding-bottom: 10px;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost .dropdownAddPost .menuAddPost .bloc-input .bloc-button-addPost .publier {
  height: 30px;
  width: 80px;
  border-color: var(--colour-texte);
  border-radius: var(--border-radius);
  background-color: var(--colour-texte);
  color: var(--colour-primary);
  font-size: 18px;
  font-weight: 700;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__placement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__placement .navItem-addPost-btn__bloc {
  display: flex;
  align-items: center;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__placement .navItem-addPost-btn__bloc__icone .fa-images {
  margin-right: 5px;
  color: var(--colour-texte);
  font-size: 40px;
}
.blocPostList .navBar-addPost .navBar-nav-addPost .navItem-addPost__placement .navItem-addPost-btn__bloc .navItem-addPost-texte__photo {
  color: var(--colour-texte);
  font-size: 18px;
  font-weight: 900;
}
.blocPostList .vitrine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.blocPostList .vitrine__bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: auto;
  max-height: 2000px;
  padding-left: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #132226;
  list-style: none;
}
.blocPostList .vitrine__bloc__cart {
  width: 100%;
  max-height: 2000px;
}
.blocPostList .vitrine__bloc__cart__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 500px;
}
.blocPostList .vitrine__bloc__cart__post__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  /* Top Navigation Bar */
  /* <nav> */
}
.blocPostList .vitrine__bloc__cart__post__logo .placement {
  display: flex;
  align-items: center;
  width: 40px;
}
.blocPostList .vitrine__bloc__cart__post__logo .placement img {
  width: 40px;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar {
  height: var(--nav-size);
  padding: 0;
  background-color: var(--colour-secondary);
  /* <ul> */
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  height: 100%;
  /* <li> */
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(var(--nav-size) * 0.8);
  height: 450px;
  padding-top: 15px;
  padding-left: 20px;
  /* Icon Button */
  /* Dropdown Menu */
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background-color: var(--colour-secondary);
  color: var(--colour-secondary);
  text-decoration: none;
  transition: filter 300ms;
  cursor: pointer;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .icon-button svg {
  height: 20px;
  padding-right: 5px;
  fill: white;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  padding-left: 15px;
  margin-top: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 10px 2px var(--colour-primary);
  overflow: hidden;
  background-color: var(--colour-secondary);
  transform: translateX(-45%);
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu {
  width: 100%;
  background-color: var(--colour-secondary);
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu .menu-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--colour-secondary);
  color: var(--colour-texte);
  font-size: 17px;
  transition: background var(--speed);
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu .menu-item .icon-right {
  margin-left: auto;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu .menu-item .delete-post {
  height: 40px;
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--colour-secondary);
  color: var(--colour-texte);
  font-size: 17px;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .menu-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--colour-secondary);
  color: var(--colour-texte);
  font-size: 17px;
  transition: background var(--speed);
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .menu-item .icon-right {
  margin-left: auto;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .menu-item .icon-button {
  margin-right: 0.5rem;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .menu-item .icon-button:hover {
  filter: none;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .input-post {
  position: relative;
  width: 285px;
  height: 120px;
  margin-bottom: 10px;
  text-align: start;
  font-size: 16px;
  border: none;
  background-color: var(--colour-secondary);
  color: var(--colour-texte-input);
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .input-post::placeholder {
  position: relative;
  top: 0px;
  left: 1px;
  color: var(--colour-texte);
  white-space: pre-line;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .conteneur-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .conteneur-input .input-file {
  display: none;
  visibility: hidden;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .conteneur-input i {
  font-size: 35px;
  color: var(--colour-texte);
  cursor: pointer;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .conteneur-input .display-image {
  width: 230px;
  padding-left: 15px;
  overflow: hidden;
  color: var(--colour-texte);
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .bloc-button-modifier {
  padding-top: 10px;
  padding-bottom: 10px;
}
.blocPostList .vitrine__bloc__cart__post__logo .navbar .navbar_nav .nav-item .dropdown .menu-modifier .bloc-input .bloc-button-modifier .modifier-post {
  height: 30px;
  border-color: var(--colour-texte);
  border-radius: var(--border-radius);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--colour-texte);
  color: var(--colour-primary);
}
.blocPostList .vitrine__bloc__cart__post__bloc {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 500px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.blocPostList .vitrine__bloc__cart__post__bloc__text {
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
}
.blocPostList .vitrine__bloc__cart__post__bloc__text p {
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  color: var(--colour-texte);
}
.blocPostList .vitrine__bloc__cart__img {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 0px;
  max-height: 1200px;
  margin-bottom: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.blocPostList .vitrine__bloc__cart__img .isereImage {
  width: 100%;
}
.blocPostList .vitrine__bloc__cart__img .isereImage img {
  position: relative;
  max-width: 100%;
  height: auto;
  object-fit: hidden;
}
.blocPostList .vitrine__bloc__cart__like {
  display: flex;
  justify-content: center;
  height: 100px;
}
.blocPostList .vitrine__bloc__cart__like__center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  width: 80%;
  height: 50px;
  border-bottom: 1px #525B56 solid;
}
.blocPostList .vitrine__bloc__cart__like__center p {
  color: var(--colour-texte);
  margin-left: 5px;
}
.blocPostList .vitrine__bloc__cart__like .wrapper {
  position: relative;
  margin: 0px;
  width: 0px;
  height: 25px;
  cursor: pointer;
}
.blocPostList .vitrine__bloc__cart__like .color-icon, .blocPostList .vitrine__bloc__cart__like .base-icon {
  position: absolute;
  top: 6px;
  right: 1px;
  font-size: 20px;
  color: #A4978E;
  transition: transform 0.8s;
}
.blocPostList .vitrine__bloc__cart__like .color-icon {
  background-image: linear-gradient(180deg, rgb(164, 151, 142) 5%, rgb(190, 144, 99) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
}
.blocPostList .vitrine__bloc__cart__like .wrapper:hover .far {
  transform: scale(0);
}
.blocPostList .vitrine__bloc__cart__like .wrapper:hover .far + i {
  transform: scale(1);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

@media screen and (min-width: 760px) {
  .blocPostList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #040C0E;
  }
  .blocPostList .navBar-addPost {
    max-width: 680px;
  }
  .blocPostList .vitrine__bloc {
    max-width: 680px;
  }
}
@media screen and (min-width: 1177px) {
  .blocPostList .bloc_image .ombre-top {
    position: absolute;
    top: 0px;
    height: 200px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 90%);
    transition: height 1s;
  }
  .blocPostList .bloc_image .ombre-right {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 200px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 90%);
    transition: width 1s;
  }
  .blocPostList .bloc_image .ombre-left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 200px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(4, 12, 14) 90%);
    transition: width 1s;
  }
}

/*# sourceMappingURL=main.css.map */
